skip_branch_with_pr: true
max_jobs: 1
image: Visual Studio 2017
clone_folder: c:\projects\qjs-base

init:
    - git clone --recursive https://github.com/horhof/quickjs c:\projects\qjs
install:
    - choco install mingw --x86 # w64
    - choco install make
    - refreshenv
    - cd c:\projects\qjs
    - powershell -Command "(gc Makefile) -replace 'CONFIG_LTO=y', 'COOOOO=n' | Out-File -encoding UTF8 Makefile"
build_script:
    - set CONFIG_WIN32=y && set AR="i686-w64-mingw32-gc-ar" make
    - set DESTDIR=%cd% && make install
    - dir .\usr\local\bin