skip_branch_with_pr: true
max_jobs: 1
image: Visual Studio 2017
clone_folder: c:\projects\qjs-base

init:
    - git clone --recursive https://github.com/horhof/quickjs c:\projects\qjs
    - git clone --recursive https://github.com/dlfcn-win32/dlfcn-win32 c:\projects\dlfcn-w32    
install:
    - choco install mingw --x86 # w64
    - choco install make
    - refreshenv
    - cd c:\projects\dlfcn-w32
    - md build
    - cd build
    - cmake -G "MinGW Makefiles" -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX="C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw32" -DCMAKE_SH="CMAKE_SH-NOTFOUND" ..
    - cmake --build . --config Release
    - cmake --build . --config Release --target install
    - cd c:\projects\qjs
    - powershell -Command "(gc Makefile) -replace '-rdynamic', '-Wl,--export-dynamic' | Out-File -encoding UTF-8 Makefile"
build_script:
    - set CROSS_PREFIX="i686-w64-mingw32-" && set EXE=.exe && make
    - set DESTDIR=%cd% && make install
    - dir .\usr\local\bin