skip_branch_with_pr: true
max_jobs: 1
image: Visual Studio 2017
clone_folder: c:\projects\qjs-base

init:
    - git clone --recursive https://github.com/horhof/quickjs c:\projects\qjs
install:
    - choco install mingw --x86 # w64
    - choco install make
    - cd c:\projects\qjs
build_script:
    - set CONFIG_WIN32=y && make
    - set DESTDIR=%cd% && mingw32-make install
    - dir .\usr\local\bin