skip_branch_with_pr: true
max_jobs: 1
image: Visual Studio 2017
clone_folder: c:\projects\qjs-base

init:
    - git clone --recursive https://github.com/horhof/quickjs c:\projects\qjs
install:
    - choco install mingw --x86 # w64
    - choco install make
    - refreshenv
    - cd c:\projects\qjs
    - powershell -Command "(gc Makefile) -replace 'CONFIG_LTO=y', 'COOOOO=n' | Out-File -encoding UTF8 Makefile"
    - copy C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw32\bin\i686-w64-mingw32-gcc-ar.exe C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw32\bin\i686-w64-mingw32-ar.exe
build_script:
    - set CONFIG_WIN32=y && make
    - strip qjs.exe qjsbn.exe qjsc.exe qjsbnc.exe
after_build:
    - dir